<div class="content-wrapper">
  <div class="content">
    <form class="form" (ngSubmit)="saveProductCategory()" #productCategoryAddForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="categoryName">Category name: </label>
          <input type="text" class="form-control" id="categoryName" placeholder="Men's" autocomplete="off"
            name="categoryName" [(ngModel)]="addProductCategoryFormsModel.categoryName" #categoryName="ngModel"
            maxlength="250" required>
          <div *ngIf="(categoryName.touched || categoryName.dirty) && categoryName.errors?.['required']"
            class="alert alert-danger">
            Category name is requied
          </div>
          <div *ngIf="(categoryName.touched || categoryName.dirty) && categoryName.errors?.['maxlength']"
            class="alert alert-danger">
            Category name must be maximum 250 characters long
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="!productCategoryAddForm.form.valid" class="btn btn-primary">Save</button>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productCategory of productCategoryList; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{productCategory.categoryName}}</td>
          <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#productCategoryUpdateModal"
              (click)="getProductCategory(productCategory.id)">Update</button>
            <button type="button" class="btn btn-danger"
              (click)="deleteProductCategory(productCategory.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="productCategoryUpdateModal" tabindex="-1" role="dialog"
      aria-labelledby="productCategoryUpdateModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form (ngSubmit)="productCategoryUpdateModal(editProductCategoryFormsModel.id, editProductCategoryFormsModel)"
            #productCategoryEditForm="ngForm">
            <div class="modal-header">
              <h5 class="modal-title" id="productCategoryUpdateModalLabel">Update Product Category</h5>
              <button #productCategoryEditFormCloseButton type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="editCategoryName">Category name: </label>
                  <input type="text" class="form-control" id="editCategoryName" placeholder="Men's" autocomplete="off"
                    name="editCategoryName" [(ngModel)]="editProductCategoryFormsModel.categoryName" #editCategoryName="ngModel"
                    maxlength="250" required>
                  <div *ngIf="(editCategoryName.touched || editCategoryName.dirty) && editCategoryName.errors?.['required']"
                    class="alert alert-danger">
                    Category name is requied
                  </div>
                  <div *ngIf="(editCategoryName.touched || editCategoryName.dirty) && editCategoryName.errors?.['maxlength']"
                    class="alert alert-danger">
                    Category name must be maximum 250 characters long
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="!productCategoryEditForm.form.valid" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>