<div class="content-wrapper">
  <div class="content">
    <form class="form" (ngSubmit)="saveAdminUser()" #adminUserAddForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="userName">Username: </label>
          <input type="text" class="form-control" id="userName" placeholder="johndoe" autocomplete="off" name="userName"
            [(ngModel)]="addAdminUser.userName" #userName="ngModel" required>
          <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
            Username is requied
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="userPassword">Password: </label>
          <input type="password" class="form-control" id="userPassword" placeholder="********" autocomplete="off"
            name="userPassword" [(ngModel)]="addAdminUser.password" #userPassword="ngModel" required>
          <div [hidden]="userPassword.valid || userPassword.pristine" class="alert alert-danger">
            Password is requied
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="userEmail">Email: </label>
          <input type="text" class="form-control" id="userEmail" placeholder="johndoe@email.com" autocomplete="off"
            name="userEmail" [(ngModel)]="addAdminUser.userEmail" #userEmail="ngModel" required>
          <div [hidden]="userEmail.valid || userEmail.pristine" class="alert alert-danger">
            Email is requied
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="userType">User type:</label>
          <select class="form-control" id="userType" required [(ngModel)]="addAdminUser.userTypeId" name="userType"
            #userType="ngModel">
            <!-- <option [value]="-1" selected>Select user type</option> -->
            <option *ngFor="let userType of userTypeListAddForm" [value]="userType.id">{{userType.typeName}}</option>
          </select>
          <div [hidden]="userType.valid || userType.pristine" class="alert alert-danger">
            User type is required
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!adminUserAddForm.form.valid" class="btn btn-primary">Save</button>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">User Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adminUser of adminUserList; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{adminUser.userName}}</td>
          <td>{{adminUser.userEmail}}</td>
          <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#adminUserUpdateModal"
              (click)="getAdminUser(adminUser.id)">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteAdminUser(adminUser.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="adminUserUpdateModal" tabindex="-1" role="dialog" aria-labelledby="adminUserUpdateModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form (ngSubmit)="updateAdminUser(editAdminUser.id, editAdminUser)" #adminUserEditForm="ngForm">
            <div class="modal-header">
              <h5 class="modal-title" id="adminUserUpdateModalLabel">Modal title</h5>
              <button #adminUserEditFormCloseButton type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="editUserName">Username: </label>
                  <input type="text" class="form-control" id="editUserName" placeholder="johndoe" autocomplete="off"
                    name="editUserName" [(ngModel)]="editAdminUser.userName" #editUserName="ngModel" required>
                  <div [hidden]="editUserName.valid || editUserName.pristine" class="alert alert-danger">
                    Username is requied
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="editUserPassword">Password: </label>
                  <input type="password" class="form-control" id="editUserPassword" placeholder="********"
                    autocomplete="off" name="editUserPassword" [(ngModel)]="editAdminUser.password" #editUserPassword="ngModel"
                    required>
                  <div [hidden]="editUserPassword.valid || editUserPassword.pristine" class="alert alert-danger">
                    Password is requied
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="editUserEmail">Email: </label>
                  <input type="text" class="form-control" id="editUserEmail" placeholder="johndoe@email.com"
                    autocomplete="off" name="editUserEmail" [(ngModel)]="editAdminUser.userEmail" #editUserEmail="ngModel"
                    required>
                  <div [hidden]="editUserEmail.valid || editUserEmail.pristine" class="alert alert-danger">
                    Email is requied
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="editUserType">User type:</label>
                  <select class="form-control" id="editUserType" required [(ngModel)]="editAdminUser.userTypeId"
                    name="editUserType" #editUserType="ngModel">
                    <!-- <option [value]="-1" selected>Select user type</option> -->
                    <option *ngFor="let userType of userTypeListEditForm" [value]="userType.id">{{userType.typeName}}</option>
                  </select>
                  <div [hidden]="editUserType.valid || editUserType.pristine" class="alert alert-danger">
                    User type is required
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="!adminUserEditForm.form.valid" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>